table {
  border-collapse: collapse;
}

td {
  padding: 10px;
}

td.expand {
  color: #398AC8;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  padding: 0;
}

table,
td,
th {
  border: 1px solid lightgray;
  padding: 10px 30px 10px 10px;
  text-align: left;
}



.charts {
  display: flex;
  height: 400px;
  width: 100%;
}
