table {
  border-collapse: collapse;
}

td {
  padding: 10px;
}

td.expand {
  color: #398AC8;
  font-weight: bold;
  cursor: pointer;
}

td.charts {
  display: flex;
  padding: 0;
}

table,
td,
th {
  border: 1px solid lightgray;
}

